html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color:#e2e7e5;
}

h1, .heading {
    font-family: 'Mali', cursive;
    font-size: 3rem;
}
h1{
color: #263f66;
}

.heading{
    color: #59405c
}

input {
    font-size: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    width: 35%;
    border: 2px solid #ff6f69;
    color: #ff6f69;
}

.input-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-summary {
    margin: 3px auto 25px auto;
    font-size: 2rem;
    font-family: 'Marck Script', cursive;
    color: #1babbe;
    position: absolute;
    top: 59px;
}
.turn, .last-input{
    font-size: 2rem;
    font-family: 'Marck Script', cursive;
    color: #6f4a8e ;
}
button {
    font-size: 2rem;
    padding: 0.5% 11%;
    border-radius: 25px;
    border: 2px solid #be5683;
    color: white;
    background-color: #be5683;
    transition: 0.3s;
    margin-top: 58px;
}
button:hover{
    color: #be5683;
    background-color: white;
  
}

input:focus, textarea:focus, button:focus {
    outline: none;
}


@media(max-width: 425px) {
    html {
        font-size: 10px;
    }
    input {
        width: 85%;
    }
    button {
        padding: 0.5% 25%;
        font-size: 3rem;
    }
}